html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Your image should be big enough to keep the quality but as small as possible so to not increase the page loading time. That's why we recommend you prepare your picture as follows:

1. Resolution: 1920px / 1280px

2. JPEG file format

3. The file is compressed (you can use the COMPRES JPG tool) */